<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Production Smoke Suite" parallel="methods" thread-count="1">
    <listeners>
        <listener class-name="reporting.JsonReporter" />
        <listener class-name="classutilities.SuiteCompletionListener" />
    </listeners>
    <test name="Amazon Website Verifications">
        <classes>
            <class name="pagenavigations.PageNavigationsTest" />
            <class name="jobsearch.JobSearchTest" />
            <class name="accountcreationscenarios.AccountCreationTest" />
            <class name="searchsku.SearchSkuTest" />
            <class name="toggleleft.ToggleLeftTest" /> 
        </classes>
    </test>
</suite>